@import url("https://fonts.googleapis.com/css?family=Montserrat&effect=outline|emboss|shadow-multiple");

body {
  margin: 0;
  font-family: "https://fonts.googleapis.com/css?family=Montserrat&effect=outline|emboss|shadow-multiple";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "https://fonts.googleapis.com/css?family=Montserrat&effect=outline|emboss|shadow-multiple";
}

.App {
  text-align: center;
}
